<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <script>
    var ngui = require('nw.gui');
    var nwin = ngui.Window.get();
    nwin.enterFullscreen();
    </script>
</body>
</html>